__pycache__
configs/
mediciones/
mlartifacts/
out/
temp/
*.gsheet
*.db
dummy_spectrum.csv
plot_osa_output.py
informe/*.pdf
informe/**/*raw.png
informe/assets/*setup.svg
Réplica Hill 2002 presentación.pdf
Réplica Hill 2002.gslides
figs_editadas.png
run_two_rings_setup_*.ps1
